.container {
    display: flex;
    justify-content: center;
}

.squaresContainer {
    width: 840px;
    height: 840px;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(12, 1fr);
} 